<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Window</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='appointment1.css') }}">
    <style></style>
</head>

<body>

    <section class="data">
        <form action="/appointment1" method="POST">

            <div class="main">

                <div class="sidebar">

                    <a href="{{url_for('doctor_dashboard')}}" style="text-decoration: none;">

                        <div class="user_data_icon">
                            <span class="img"><ion-icon name="home-outline"></ion-icon></span>
                            <p class="icon_text">Profile</p>
                        </div>
                    </a>

                    <a href="{{url_for('appointment1')}}" style="text-decoration: none;">
                    
                        <div class="appointment_icon">
                            <span class="img"><ion-icon name="call-outline"></ion-icon></span>
                            <p class="icon_text">Appointment</p>
                        </div>
                    </a>

                    <a href="{{url_for('medication1')}}" style="text-decoration: none;">

                        <div class="medication_icon">
                            <span class="img"><ion-icon name="medkit-outline"></ion-icon></span>
                            <p class="icon_text">Medication</p>
                        </div>
                    </a>

                </div>

                {% if results %}
                    <div class="content">
                        {% for data in results %}
                            <div class="block">
                                <img src="{{url_for('static',filename=data[8]+'.png')}}" class="image" alt="photo">
                                <div class="two">
                                    <h3>{{data[8]}}</h3>
                                    <div class="block_data">
                                        <div class="same">
                                            <p class="done">Appointment No : {{data[0]}}</p>
                                            <p class="done">Appointment Date : {{data[1]}}</p>
                                        </div>
                                        <div class="same1">
                                            <p class="done">Appointment reason : {{data[2]}}</p>
                                            <p class="done">Appointment Time : {{data[3]}}</p>
                                        </div>
                                    </div>
                                    {% if data[6] == 'Pending' %}
                                    <div class="same2">
                                        <p class="done1">If you want to reject or approve, please add a comment for student clarification</p>
                                        <input  class="done2" type="text" name="appointment_comment-{{data[0]}}" placeholder="comment">
                                    </div>
                                    <div class="same3">
                                        <button class="button1" type="submit" name="action" value="approved-{{data[0]}}">Approve</button>
                                        <button class="button2" type="submit" name="action" value="rejected-{{data[0]}}">Reject</button>
                                    </div>
                                    {% elif data[6] == 'Approved' %}
                                        <p  class="button3">{{ data[6] }}</p>
                                        <p class="done3">No Issue : {{ data[7] }}</p>
                                    {% elif data[6] == 'Rejected' %}
                                        <p class="button4">{{ data[6] }}</p>
                                        <p class="done3">Issue : {{ data[7] }}</p>
                                    {% endif %}
                                </div>                        
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="no_data">
                        <p>No Appointment till Date</p>
                    </div>
                {% endif %}
            </div>
        </form>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>