<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Window</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <style></style>
</head>

<body>

    <section class="data">

        <form action="/chat" method="GET">

            <div class="main">

                <div class="sidebar">

                    <a href="{{url_for('student_dashboard')}}" style="text-decoration: none;">

                        <div class="user_data_icon">
                            <span class="img"><ion-icon name="home-outline"></ion-icon></span>
                            <p class="icon_text">Profile</p>
                        </div>
                    </a>

                    <a href="{{url_for('doctor_info')}}" style="text-decoration: none;">

                        <div class="doctor_icon">
                            <span class="img"><ion-icon name="person-outline"></ion-icon></span>
                            <p class="icon_text">Doctor</p>
                        </div>
                    </a>

                    <a href="{{url_for('appointment')}}" style="text-decoration: none;">

                        <div class="appointment_icon">
                            <span class="img"><ion-icon name="call-outline"></ion-icon></span>
                            <p class="icon_text">Appointment</p>
                        </div>
                    </a>

                    <a href="{{url_for('medication')}}" style="text-decoration: none;">

                        <div class="medication_icon">
                            <span class="img"><ion-icon name="medkit-outline"></ion-icon></span>
                            <p class="icon_text">Medication</p>
                        </div>
                    </a>

                    <a href="{{url_for('Medical_record')}}" style="text-decoration: none;">

                        <div class="medical_record_icon">
                            <span class="img"><ion-icon name="reader-outline"></ion-icon></span>
                            <p class="icon_text">Record</p>
                        </div>
                    </a>

                    <a href="{{url_for('chat')}}" style="text-decoration: none;">

                        <div class="chat_icon">
                            <span class="img"><ion-icon name="chatbox-ellipses-outline"></ion-icon></span>
                            <p class="icon_text">Chat</p>
                        </div>
                    </a>

                    <a href="{{url_for('your_activity')}}" style="text-decoration: none;">

                        <div class="your_activity_icon">
                            <span class="img"><ion-icon name="options-outline"></ion-icon></span>
                            <p class="icon_text">Activity</p>
                        </div>
                    </a>

                </div>

                <div class="content">



                </div>
            </div>

        </form>

    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>