    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Window</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='doctor_request.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <style></style>
    </head>

    <body>

        <section class="data">

            <form action="/doctor-request" method="POST">

                <div class="main">

                    <div class="sidebar">

                        <a href="{{url_for('student_dashboard')}}" style="text-decoration: none;">
                        
                            <div class="user_data_icon">
                                <span class="img"><ion-icon name="home-outline"></ion-icon></span>
                                <p class="icon_text">Profile</p>
                            </div>
                        </a>
                        
                        <a href="{{url_for('doctor_info')}}" style="text-decoration: none;">
                        
                            <div class="doctor_icon">
                                <span class="img"><ion-icon name="person-outline"></ion-icon></span>
                                <p class="icon_text">Doctor</p>
                            </div>
                        </a>
                        
                        <a href="{{url_for('appointment')}}" style="text-decoration: none;">
                        
                            <div class="appointment_icon">
                                <span class="img"><ion-icon name="call-outline"></ion-icon></span>
                                <p class="icon_text">Appointment</p>
                            </div>
                        </a>
                        
                        <a href="{{url_for('medication')}}" style="text-decoration: none;">
                        
                            <div class="medication_icon">
                                <span class="img"><ion-icon name="medkit-outline"></ion-icon></span>
                                <p class="icon_text">Medication</p>
                            </div>
                        </a>
                        
                        <a href="{{url_for('Medical_record')}}" style="text-decoration: none;">
                        
                            <div class="medical_record_icon">
                                <span class="img"><ion-icon name="reader-outline"></ion-icon></span>
                                <p class="icon_text">Record</p>
                            </div>
                        </a>

                    </div>
                    
                {% if doctor %}
                    <div class="content">
                        <div class="block">
                            <img src="{{url_for('static',filename=doctor[1]+'.png')}}" class="image" alt="photo">
                            <div class="two">
                                <h3>{{doctor[1]}}</h3>
                                <div class="block_data">
                                    <div class="same">
                                        <p class="done">licence No : {{doctor[9]}}</p>
                                        <p class="done">Contact No : {{doctor[3]}}</p>
                                    </div>
                                    <div class="same1">
                                        <p class="done">Speciality : {{doctor[2]}}</p>
                                        <p class="done">Consulation fee : {{doctor[10]}}</p>
                                    </div>
                                    <div class="same2">
                                        <p class="done">Email : {{doctor[4]}}</p>
                                        <p class="done">Address : {{doctor[5]}}</p>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                {% endif %}    
                </div>

                    <div class="accept">
                        <p class="form_heading">Fill the Form to book an Appointment : </p>
                        <div class="accept_data">
                            <p class="head">Date :</p>
                            <input class="input1" name="Date" type="date" placeholder="Date" value="{{request.form.get('Date','')}}">
                            <p class="head">Time :</p>
                            <input class="input1" name="Time" type="time" placeholder="Time" value="{{request.form.get('Time','')}}">
                            <p class="head">Issue : </p>
                            <input class="input1" name="Issue" type="text" placeholder="Issue" value="{{request.form.get('Issue','')}}">
                        </div>
                    </div>
                    <button class="submit">Submit</button>

                    {% if success %}
                    <p class="s1">{{ success }}</p>
                    {% elif error %}
                    <p class="e1">{{error}}</p>
                    {% endif %}

                    <div class="review">
                        <h1>Review : </h1>
                        <div class="add">
                            <a href="{{url_for('reviewing')}}" class="add0">
                            <span class="add1"><ion-icon name="add-circle-outline"></ion-icon></span>
                            <p class="declare">Review Me (Get Discount on next appointment) : </p>
                            </a>
                        </div>
                        <div class="body">

                            <div class="review1">
                            {% for rating in rating_data %}
                                <div class="review2">
                                    <p class="review3">{{rating[0]}}</p>
                                    <div class="margin">
                                        {% set user_rating = rating[1]%}
                                        {% for i in range(1, 6) %}
                                            {% if i <= user_rating %}
                                                <i class="fas fa-star" style="color: gold;"></i>
                                            {% elif i - user_rating < 1 %}
                                                <i class="fas fa-star-half-alt" style="color: gold;"></i>
                                            {% else %}
                                                <i class="far fa-star" style="color: gold;"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="info">
                                </div>
                                <p class="info1">{{rating[2]}}</p>
                                {% endfor %}
                                {% if not rating_data %}
                                    <p class="error1">No review till date (Be the First One)</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
x
            </form>

        </section>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </body>

    </html>