<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forgotpassword.css') }}">
</head>
<body>
    <section class="forget_password">

        <form action="/forgot" method="POST">

            <div class="main_body">
                
                <img src="{{url_for('static',filename='logo.png')}}" class="logo-img" alt="logo">
                
                <div class="body_withoutimg">
                    
                    <div class="heading">Username :</div>

                    <div class="data">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="text" class="username" name="username" placeholder="Username"  value="{{ request.form.get('username', '') }}">
                        
                    </div>
                    {% if not show_otp %}
                    <div class="term">
                        <button type="submit">Enter</button>
                        <label for="Email"></label>                
                    </div>
                    {% endif %}
                    
                    {% if show_otp %}
                    <div class="otp-section">
                        <p class="p1">Enter OTP :</p>
                        <input type="text" name="otp" class="username1" placeholder="OTP" required>
                    </div>
                    
                    <div class="xyz">
                        <div class="resend-otp">
                            <button type="submit">Verify</button>
                                <input type="hidden" name="resend" value="true">
                                <button type="submit" class="resend-btn">Resend OTP</button>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if error %}
                    <div class="error">
                        <p>{{ error }}</p>
                    </div>
                    {% elif success %}
                    <div class="success">
                        <p>{{ success }}</p>
                    </div>
                    {% endif %}
        
                </div>
        
            </div>
        
        </form>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>