<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='password.css') }}">
</head>
<body>
    <section class="pass">

        <script src="{{ url_for('static', filename='password.js') }}"></script>

        <form action="/forgotpass" method="POST" onsubmit=" return validateform()">

            <div class="password">
                <img src="{{url_for('static',filename='logo.png')}}" class="logo-img" alt="logo">
                <div class="box">
                    <div class="heading1">
                        New Password :
                    </div>
                    <div class="password1">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" id="password" class="password3" name="password" placeholder="password"
                        oninput="checkPasswordStrength()"value="{{request.form.get('password','')}}">
                    </div>

                    <div id="strength-message" class="strength-msg"></div>
                        
                    <div class="heading2">
                        Confirm New Password :
                    </div>

                    <div class="confirm-password">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" class="password3" name="confirm-password" placeholder="confirm-password" value="{{request.form.get('confirm-password','')}}">
                    </div>
                
                    <button type="submit">Submit</button>
                    <label for="Email"></label>
                    
                    <div class="message">
                        {% if error %}
                        <p class="error">{{ error }}</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </form>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>