<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Window</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student_dashboard.css') }}">
    <style></style>
</head>

<body>

    <section class="data">

        <form action="/student_dashboard" method="get">
    
            <div class="main">

                <div class="sidebar">
                    
                    <a href="{{url_for('student_dashboard')}}" style="text-decoration: none;">
                                
                        <div class="user_data_icon">
                            <span class="img"><ion-icon name="home-outline"></ion-icon></span>
                            <p class="icon_text">Profile</p>
                        </div>
                    </a>
                            
                    <a href="{{url_for('doctor_info')}}" style="text-decoration: none;">
                                
                        <div class="doctor_icon">
                            <span class="img"><ion-icon name="person-outline"></ion-icon></span>
                            <p class="icon_text">Doctor</p>
                        </div>
                    </a>

                    <a href="{{url_for('appointment')}}" style="text-decoration: none;">
                    
                        <div class="appointment_icon">
                            <span class="img"><ion-icon name="call-outline"></ion-icon></span>
                            <p class="icon_text">Appointment</p>
                        </div>
                    </a>
                        
                    <a href="{{url_for('medication')}}" style="text-decoration: none;">
                                
                        <div class="medication_icon">
                            <span class="img"><ion-icon name="medkit-outline"></ion-icon></span>
                            <p class="icon_text">Medication</p>
                        </div>
                    </a>

                    <a href="{{url_for('Medical_record')}}" style="text-decoration: none;">
                                
                        <div class="medical_record_icon">
                            <span class="img"><ion-icon name="reader-outline"></ion-icon></span>
                            <p class="icon_text">Record</p>
                        </div>
                    </a>

                </div>

                <div class="content">

                    <div class="img_logout_row">

                        <div class="user_img">
                            <img src="{{ url_for('static', filename = username + '.png') }}" class="user_image" alt="user_img">
                        </div>
                        
                        <div class="logout">
                            <button class="text" name="action" value="logout">logout</button>
                        </div>
                    </div>
                    
                    <div class="data_row">
                        {% if data %}
                        <div class="user_data">
                            <h1>Student Info :</h1>
                            <p class="data_text">Name : {{ data[1] }}</p>
                            <p class="data_text">DOB : {{ data[2] }}</p>
                            <p class="data_text">Age : {{ data[3] }}</p>
                            <p class="data_text">Gender : {{ data[7] }}</p>
                            <p class="data_text">Email : {{ data[4] }}</p>
                            <p class="data_text">Phone : {{ data[5] }}</p>
                            <p class="data_text">Address : {{ data[6] }}</p>
                        </div>
                        
                        <div class="college_data1">
                            <h1>Academy Info :</h1>
                            <p class="data_text">Course Name : {{cd[1]}}</p>
                            <p class="data_text">ID NO : {{ data[0] }}</p>
                            <p class="data_text">Panel : {{cd[2]}}</p>
                            <p class="data_text">Semister : {{cd[3]}}</p>
                            <p class="data_text">College Name : {{ college_data[1] }}</p>
                            <p class="data_text">location : {{ college_data[2] }}</p>
                            <p class="data_text">City : {{ college_data[3] }}</p>
                        </div>
                        
                        <div class="parent_data">
                            <h1>Parent Info : </h1>
                            <p class="data_text">Father Name : {{pd[1]}}</p>
                            <p class="data_text">Father Phone : {{pd[2]}}</p>
                            <p class="data_text">Father Email : {{pd[3]}}</p>
                            <p class="data_text">Mother Name : {{pd[4]}}</p>
                            <p class="data_text">Mother Phone : {{pd[5]}}</p>
                            <p class="data_text">Mother Email : {{pd[6]}}</p>
                        </div>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            
        </form>

    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>