<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Term & Condition</title>
    <link rel="stylesheet" href="{{url_for('static',filename='term_and_condition.css')}}">
</head>
<body>
    <div class="body">
        <h1>Terms & Condition</h1>
        <div class="content">
            <pre>{{content}}</pre>
        </div>
        <a href="{{url_for('login')}}" class="return">Return</a>
    </div>
</body>
</html>