body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
}

input,button, textarea, select {
  font: inherit;
}

@media screen and (min-width: 800px){

    
    *{
        background-color: #222222;
    }
    
    .success{
        gap: 10px;
        color:rgb(52, 201, 119);
        margin-top: 10px;
        font-size: 18px;
    }
    
    button {
        color: #a6ccd1;
        border: 1px solid #a6ccd1;
        border-radius: 9px;
        background-color: #222222;
        padding:7px 8px;
        font-size: 15px;
    }
    
    .full-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 55px;
    }
    
    
    .logo-img{
        width: 135px;
        height:135px;
        margin-bottom: 50px;
        border-radius: 20px;
    }
    
    .login-box{
        box-shadow:0px 0px 20px 2px #181919;
        border-radius: 20px;
        padding: 20px;
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .input_heading{
        color: #a6ccd1;
        margin-right: 100px;
        margin-bottom: 2px;
        margin-top: 8px;
        font-size: small;
    }

    h2{
        color:#a6ccd1;
        margin-top: 5px;
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .icon ion-icon{
        color: #a6ccd1;
        font-size: 20px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
    }
    
    .username{
        border-radius: 6px ;
        padding: 1px;
        background-color: #282826;
        padding-left: 6px ;
        border: 2px solid #6b7d7e;
        color: rgb(162, 174, 174);
    }
    
    .remember-forgort{
        margin-top: 18px;
        margin-bottom: 18px;
        color: #495657;
    }
    
    .remember-forgort a{
        color: #495657;
        margin-left: 30px;
        text-decoration: none;
    }
    
    .term{
        margin-top: 22px;
        margin-right: 22px;
    }
    
    .term a{
        color: #a6ccd1;
        text-decoration: none;
    }
    
    .term-and-condition{
        margin-right: 25px;
        margin-left: 20px;
    }
    
    .error{
        display: flex;
        align-items: center;
        gap: 10px;
        color:rgb(209, 58, 58);
        font-size: 18px;
        margin-top: 5px;
    }
    
    .login-box1{
        display: flex;
        gap: 8px;
        align-items: center;
    }
    
    .login-box2{
        display: flex;
        gap: 8px;
        align-items: center;
    }
    
    .permission{
        color:#495657;
        margin-top: 50px;
    }
}   