*{
    background-color: #222222;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
}

input,button, textarea, select {
  font: inherit;
}

@media screen and (min-width: 800px) {

    
    .pass{
        display: flex;
        flex-direction: column;
    }
    
    .error{
        display: flex;
        align-items: center;
        gap: 10px;
        color:rgb(209, 58, 58);
        font-size: 18px;
        margin-top: 5px;
    }
    
    .logo-img{
        width: 135px;
        height:135px;
        align-items: center;
        margin-bottom: 50px;
        border-radius: 20px;
    }
    
    .password{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 55px;
    }
    
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 20px 4px #181919;
        border-radius: 25px;
        padding:25px;
    }
    
    .password1{
        display: flex;
        margin-top: 5px;
        margin-bottom: 3px;
        gap: 8px;
        
    }
    
    .confirm-password{
        display: flex;
        gap: 8px;
    }
    
    button {
        color: #a6ccd1;
        border: 1px solid #a6ccd1;
        border-radius: 9px;
        background-color: #222222;
        padding:7px 8px;
        margin-top: 25px;
    }
    
    .icon ion-icon{
        color: #a6ccd1;
        font-size: 20px;
    }
    
    .password3{
        border-radius: 6px ;
        background-color: #282826;
        padding-left: 6px ;
        padding: 1px;
        color: rgb(162,174,174);
        border: 2px solid #6b7d7e;
    }
    
    .heading1{
        color: #a6ccd1;
        margin-right: 60px;
        margin-top: 20px;
        margin-bottom: 2px;
        font-size: small;
    }
    
    .heading2{
        color: #a6ccd1;
        margin-right: 10px;
        margin-top: 8px;
        margin-bottom: 2px;
        font-size: small;
    }
    
    .success{
        gap: 10px;
        color:rgb(52, 201, 119);
        margin-top: 10px;
        font-size: 18px;
    }

    #strength-bar {
        height: 5px;
        width: 100%;
        margin-top: 5px;
      border-radius: 3px;
    }
      
    .weak {
        background-color: rgb(209, 58, 58);
    }

    .medium {
        background-color: rgb(223, 149, 13);
    }

    .strong {
        background-color: rgb(52, 201, 119);
    }

    #strength-message {
        font-size: 14px;
        margin-top: 5px;
        font-weight: bold;
    }   

    .strength-msg {
        margin-top: 4px;
        font-size: 14px;
        font-weight: bold;
    }

}